body {
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.listing {
    padding-left: 15px;
}

a.dropdown-item.text-white:hover {
    
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.form_field {
    margin-bottom: 10px;
}

div.col-xs-2.form-group {
    width: 130px;
}

h2.page_title {
    font-style: bold;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

div.dropdown-menu{
    margin-top: 8px;
    border-radius: 2px;
    left: auto;
    right: 15px;
    text-align: right;
    padding: 2px;
    width: auto;
    float: right;
    font-size: 14px;
}


main {
    padding-left: 40px;
    margin-bottom: 150px;
}

a.navbar-brand {
    font-size: 16px;
}

ul.nav {
    width: 100%
}

.image_grid {
    float: left;
    width: 25%;
    height: 250px;
    padding: 20px;
    text-align: center;
}

.image_grid.watchlist {
    width: 100%;
}
.image_box {
    width: 100%;
    height: 150px;
}

.listing_image {
    width: 300px;
    height: auto;
}

img.index_image {
    max-width: 100%;
    max-height: 150px;
    height: auto;
}
a > div.index_title {
    text-align: center;
    color:#212529;
}
a.categories:hover {
    text-decoration: none;
}

.index_title.watchlist {
    font-size: 20px;
    font-weight: 650;
    text-align: left;
}

.container.watchlist{
    margin: 0px;
}
div.index_price {
    color: red;
    font-size: 12px;
    font-style: italic;
}



.image_grid.categories {
    height: 340px;
}

.width_50 {
    width: 50%;
}



img.index_image.categories {
    width: 100%;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    opacity: 0.6;
}

div.subtext.row {
    padding-left: 7px;
}
.watchlist_icon {
    display: inline;
    height: 12px;
    width: auto;
}


a:hover {
    text-decoration: none;
}

.image_box.categories {
    height: 300px; 
    position: relative;
    text-align: center;

}

div.categories_title{
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    font-size: 3vmin;
    color:#212529; 
}
div.categories_title:hover {
    background-color: rgba(255, 255, 255, 0.85);
}


.input_container{
    position: relative;
    display: inline-block;
}

.sign {
    position: absolute;
    font-size: 1rem;
    top: 31.5px;
    left: 28.1px;
}

.sign.sign_listing {
    left: 14px;
}

a.nav-link.dropdown-item:active{
    background-color: #212529;
}


