body {
    padding: 10px;
    padding-left: 30px;
}

.left-padding{
    padding-left: 10px;
}

.form_div {
    margin: 10px;
    margin-left: 0px;
}

.form_btn {
    margin: 5px;
}

.start_bid {
    font-style: bold;
    margin-bottom: 0px;

}
.current_bid {
    font-style: italic;
    color: red;
    margin-bottom: 0px;
}

.text-form {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

#id_bid {
    width: 100%;
    
}

#row {
    margin-left: 0;
}


