.upper-right {
    position: absolute;
    top: 5px;
    vertical-align: top;
    right: 0px;
    padding-right: 15px;
    line-height: normal;
    height: 48px;
    
    font-size: 13px;
    line-height: 27px;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
   
}
a {
    color: 	rgba(0,0,0,0.87);
    text-decoration: none;
}
input[type = text].searchbar_field {
    outline: none;
    border-radius:25px;
    width: 550px;
    height: 42px;
    border: 1px solid #d6d5d5;
    padding-left: 50px;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.search-bar {

    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.buttons {
    padding-top: 30px;
}

input[type="text"].searchbar_field:hover {
    outline: none;
    box-shadow: 0px 0px 5px 1px #d6d5d5;
}


input[type="text"].searchbar_field-bar:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px #d6d5d5;
}

input[type = "submit"].searchbar_field {
    font-family: arial, sans-serif;
    outline: none;
    padding-right: 16px;
    padding-left: 16px;
    height: 36px;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    outline: none;
    border: none;
}

input[type = "submit"].searchbar_field:hover {
    border: 1px solid;
    border-color: #d6d5d5;
    box-shadow: 0px 1px 1px #eff0f1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.advanced {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    background-color:#f1f1f1;;
    padding-left: 15px;
    height: 60px;
    width: 100%;

}

.advanced_title {
    color: #d93025;
    margin-top: 85px;
    margin-right: 35px;
    margin-bottom: 25px;
    margin-left: 35px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.advanced_form {
    display: block;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-left: 22px;
}

.advanced_subtitle {
    
    margin-top: 40px;
    font-family: arial, sans-serif;
    color: #333;
    font-size: 17px;
}

.advanced_label {
    margin-left: 10px;
    font-size: 100%;
}
.advanced_line {
    display: block;
    border-bottom: 1px solid #ebebeb;
}



#subtext {
    position: relative;
    color: blue;
    font-size: 16px;
    font-family: arial, sans-serif;
    left: 105px;
    top: -15px;
}
#search_icon {
    width: auto;
    height: 17.5px;
    position: relative;
    top: 61px;
    left: -277px;
}

.body_advanced {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.advanced_logo{
    width: 92px;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
}

input[type = "text"].advanced_form{
    border-radius: 1px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-top-color: #c0c0c0;
    font-size: 13px;
    width: auto;
    height: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 20px;
    font-family: Arial;
}

input[type = "text"].advanced_form:focus{
    outline: none;
    border: 1px solid blue;
}

.advanced_input_label {
    display: inline-grid;
    grid-auto-rows: 70px;
    margin-left: 22px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 100;
}


.advanced_input {
    display: inline-grid;
    grid-auto-rows: 70px;
    margin-left: -10px;
    width: 50%;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
}



#advanced_submit {
    grid-area: e;
    justify-self: end;
    color: white;
    background-color: #4d90fe;
    font-family: arial;
    border-radius: 2px;
    border: 1px solid #3079ed;
    font-weight: bold;
    font-size: 11px;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    bottom: -26.5px;
    outline: none;
    margin-left: 22px;
    margin-right: 20px;
}