{% extends "auctions/layout.html" %}

{% block pagetitle %}
    Categories
{% endblock %}
{% block body %}

<div>

    {% for category in categories %}
    <div class = "image_grid categories width_50">
        <div class = "image_box categories">
            
            <div>
                <a href = '{% url "category_listing" category.id %}'><img class = "index_image categories" src = '{{category.url}}'></a>
            </div>
            <div class = "categories_title">
                <a href = '{% url "category_listing" category.id %}' class = "categories"><div class = "index_title">{{category.name}}</div></a>
            </div>
            
        </div>
        
        
    </div>

    {% empty %} 
    <p>There are no existing categories.</p>
    {% endfor %}

</div>

{% endblock %}