{% extends "auctions/layout.html" %}
{% block pagetitle %}
    {{title}} 
{% endblock %}
{% block body %}
    <div>
        {% for listing in listings %}
                <div class = "image_grid">
                    <div class = "image_box">
                        <a href = "{% url 'listing' listing.id %}"><img class = "index_image" src = '{{listing.url}}' onerror = 'this.onerror=null;this.src = "/static/auctions/not_available.png"'></a>
                    </div>
                    <a href = "{% url 'listing' listing.id %}">
                        <div class = "index_title">{{listing.title}}</div>
                    </a>
                    <div class = "index_price">Starting at ${{listing.start_bid}}</div>
                </div>
        {% endfor %}
    </div>
    
{% endblock %}