{% load static %}
<!DOCTYPE html>
<html lang="en">
        
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}        
    </head>
    <body>
        <h1 class = "text-center title">Auctions</h1>
        <hr>    
        <nav class = "navbar bg-dark justify-content-center">
        <ul class="nav justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' %}">Search by Category</a>
            </li>
            {% if user.is_authenticated %}
                <li class = "nav-item">
                    <a class = "nav-link" href = "{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "{% url 'won_auctions' %}">Won Auctions</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "{% url 'newlisting' %}">Create a New Listing</a>
                </li>
                <li class="nav-item dropdown_head">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as {{ user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="nav-link dropdown-item" href="{% url 'login' %}">Sign in with a different account</a>
                            <a class="nav-link dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </div>
                    
                </li>
                
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        </nav>
        
        <hr>
        <main>
            <h2 class = "page_title"> 
                {% block pagetitle %}
                {% endblock %}
            </h2>
            
            {% block body %}
            {% endblock %}
        </main>
       
        
    <script>
        $("nav > ul > li > a, nav > ul > li > div > a ").addClass("navbar-brand text-white")
    </script>
    </body>
</html>
