{% extends "auctions/layout.html" %}

{% block body %}



{{test}}
<h1>{{listing.title}}</h1>
<p class = "start_bid">Starting at {{start_bid}}</p>
<p class = "current_bid">Current bid:</p>
<p>{{listing.description}}</p>
{% if listing.url != "" %}
<img src = "{{listing.url}}" alt = "Listing Image">
{% endif %}
{% if user.is_authenticated %}
    <div>
        <form id = "form" action = "{% url 'add' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" value = "{{listing.id}}" name = "listing_id">
            <input id = "submit_button" type = "SUBMIT" class = "btn btn-success" value = "Add to Watch List">
        </form>
           </div>
{% endif %}
<script>
    $(document).ready(function() {
        if ({{watching_status}}) {
            $("#submit_button").removeClass("btn-success")
            .addClass("btn-danger")
            .val("Remove from Watch List")

            $('#form').attr('action', '{% url "remove" listing.id %}')
    }
    })  
</script>

{% endblock %}