{% extends "auctions/layout.html" %}

{% block pagetitle %}
{{listing.title}}
{% endblock %}

{% block body %}
<div class = 'listing'>
{% if listing.status == 'inactive' %}
    <div class = 'text-center alert alert-secondary' role = 'alert'>
        The bidding on this item is closed.
    </div>
    {% if won == True %}
    <div class = 'text-center alert alert-success' role = 'alert'>
        You've won the auction.
    </div>
{% endif %}
{% endif %}

<div>
<p style = "margin-bottom: 0px">Starting at {{start_bid}}</p>
<i><p  style = "color: red">Current bid: {{current_bid}}</p></i>
{% if user.is_authenticated %}
    <form id = "bid_form" action = "{% url 'bid' listing.id %}" method = "POST">
        {% csrf_token %}
        <div class = "row listing" id = "row">
            <div class = "col-xs-2 form-group" id = "bid_div">
                {% for field in form %}
                    {{field.label}} {{field}}
                {% endfor %}
            </div>
            <div class = "col-xs-2 form-group" style = "padding-left: 5px">
                <br>
                <input type = "SUBMIT"  class = "btn btn-primary" value = "Bid" id = "bid_btn">
            </div>
        </div>
    </form>
{% endif %}
{% if listing.url != "" %}
    <img class = "listing_image" src = "{{listing.url}}" alt = "Listing Image">
{% endif %}
<div class = "width_50">
    <p>{{listing.description}}</p>
</div>



{% if user.is_authenticated %}
    <div class = 'form_field'>
        <form id = "form" action = "{% url 'add' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type = "hidden" value = "{{listing.id}}" name = "listing_id">
            <input id = "submit_button" type = "SUBMIT" class = "btn btn-success" value = "Add to Watch List">
        </form>
    </div>

    <div class = 'form_field'>
        <form id = "closebid" action ="{% url 'index' %}" method = "POST">
            {% csrf_token %}
            <input name = "list_id" type = "hidden" value = "{{listing.id}}">
            <input id = "close_button" type = "SUBMIT" class = "btn btn-danger" value = "Close the Bid">
        </form>
    </div>

    
{% endif %}
    <h3>
        <div style = "padding-top: 40px; padding-bottom: 20px; border-bottom: solid 0.2px lightgray ">
            Comments
        </div>   
    </h3>
    <div class = "comments">
    {% for comment in comments %}
    <div class = "left-padding" style = "margin: 30px">
        <div><strong>{{comment.user.username}}</strong></div>
        <div><i>{{comment.time | timesince}} ago</i></div>
        <div style = "width: 60%">{{comment.text}}</div>
    </div>
    {% endfor %}
    </div>
{% if user.is_authenticated %}
    <div style = "margin: 30px">
    <form id = "comment_form" action = "{% url 'listing' listing.id %}" method = "POST">
        {% csrf_token %}
        <div class = "form-group">
        {% for field in comment_form %}
        <div>{{field.label}}</div>
        <div style = "width: 60%">{{field}}</div>
        {% endfor %}
        </div>
        <input type = "SUBMIT" id = "post_comment" class = "btn btn-primary" value = "Post Comment">            
    </form>
    </div>
{% endif %}
</div>
</div>
<script>
    owner_status = {{owner_status}}
    watching_status = {{watching_status}}
    listing_status = "{{listing.status}}";
    $("#id_bid").addClass("form-control form-group col-xs-2 bid_input");
    $("#close_button").hide();
    $("form > div > div > textarea").addClass("form-control");
    $("#id_bid").parent().append("<span>$</span>").addClass('input_container')
    $("#id_bid").css({"padding-left":"1.35rem"})
    $('div > span').addClass('sign_listing sign')
    $(document).ready(function() {
        if (watching_status) {
            $("#submit_button").removeClass("btn-success")
            .addClass("btn-danger")
            .val("Remove from Watch List")

            $('#form').attr('action', '{% url "remove" listing.id %}')
        };
        if (owner_status == true && listing_status == 'active') {
            $("#close_button").show()
        };

        if (listing_status == 'inactive') {
            $("input:submit").not("#post_comment").prop("disabled", true)
        };

    })  
</script>

{% endblock %}

