{% extends "auctions/layout.html" %}
{% block pagetitle %}
Watchlist
{% endblock %}
{% block body %}
<hr style = "border-top: 1.5px solid">
<div class = "listing">
{% if user.is_authenticated %}
    {% for listing in watchlist %}
        <div class="container watchlist">
            
            <div class = "row">
                <div class = 'col-3'>
                    <a href = "{% url 'listing' listing.id %}">
                        <div class = "watchlist index_title">{{listing.title}}</div>
                    </a>
                </div>
            </div>
            <div class = "subtext row">
                <div class = 'col' style = "margin-bottom: 10px;">
                    <img class = 'watchlist_icon' src = '/static/auctions/watchlist.png'><i style = "font-size: 10px;">
                        
                        {% if listing.watched.all|length|add:"-1" > 1 %} 
                        {{ listing.watched.all|length|add:"-1" }} other users are watching this item.
                        {% elif listing.watched.all|length|add:"-1" == 0 %}
                        No one else is watching this item.
                        {% else %}
                        {{ listing.watched.all|length|add:"-1"}} other user is watching this item.
                        {% endif %}

                    </i>
                </div>
            </div>
            <div class = "subtext row">
                <div class = 'col-3' style = "height: 150px">
                    <a href = "{% url 'listing' listing.id %}"><img class = "index_image" src = '{{listing.url}}' onerror = 'this.onerror=null;this.src = "static/auctions/not_available.png"'></a>
                </div>
                <div class = 'col'>
                    <div class ="text-center" style = "margin-top: 29.8px; color: red; font-size:large">
                        Current bid: ${{listing.current_bid}}
                    </div>
                    
                </div>
                <div class = 'col'>
                    <div class = 'form_field text-right' style = "margin-top:24px">
                        <form id = "form" action = "{% url 'remove' listing.id %}" method = "POST">
                            {% csrf_token %}
                            <input type = "hidden" value = "{{listing.id}}" name = "listing_id">
                            <input id = "submit_button" type = "SUBMIT" class = "btn btn-danger" value = "Remove from Watch List">
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
          
        <hr style = "border-top: 1.5px solid">
    {% empty %}
    <p>There are no items on your watchlist.</p>
    {% endfor %}
{% else %}
<p> Log in to view your watchlist.</p>
{% endif %}
</div>
{% endblock %}




    

   