{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
<h2> Transaction History </h2>

<table style = "width:100%">
<tr>
    <th> Time </th>
    <th> Symbol </th>
    <th> Number of Shares </th>
    <th> Transaction Type </th>
</tr>

{% for row in purchases %}
    <tr>
        <td>{{ row['time'] }}</td>
        <td> {{row['stockname']}} </td>
        <td> {{ row['numberOfShares'] }}</td>
        <td> {{ row['type'] }}</td>
    </tr>

{% endfor %}
</table>

{% endblock %}
