{% extends "layout.html" %}
{% block title %}
    Summary
{% endblock %}

{% block main %}
<h3 style="text-align: left"> Cash Balance: USD$ {{current_cash}}</h2>
<br>
<h3 style="text-align: left">Stock Holding: USD$ {{stockBalance}}</h3>
<br>
<table style = "width:100%">
<tr>
    <th> Stock Name </th>
    <th> Number of Shares </th>
    <th> Current Stock Price </th>
    <th> Total Value of Holding</th>
</tr>

{% for row in summary %}
    <tr>
        <td>{{ row['stockname'] }}</td>
        <td>{{ row['SUM(numberOfShares)'] }}</td>
        <td> USD$ {{ row['currentPrice'] }}</td>
        <td> USD$ {{ row['total'] }}</td>
        <td> <form action="/buy" method = "post">
            <input type = "hidden" class ="form-control"  name = "symbol" value ={{ row['stockname'] }} readonly>
            <input type = "text" class="form-control" name = "shares" placeholder = "Quantity" size = "5">
            <button type = "submit" class="btn btn-primary"> Buy More </button> </form>

            </td>
    </tr>

{% endfor %}
</table>
<br>
<h2 style="text-align: left">Grand Total: USD$ {{grandTotal}}</h2>

{% endblock %}